@import url(https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;400&display=swap);

* {
  margin: 0;
  padding: 0;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span,
a,
button {
  font-family: 'Roboto Slab', 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #AAA7CB;
  min-height: 100vh;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: #434343;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*
 COLOR
*/
.bg-default {
  background-color: #AAA7CB;
}

/*
  POSITION
*/

.position-absolute{
  position: absolute;
}

.position-relative{
  position: relative;
}

/*
  DISPLAY
*/

.d-flex {
  display: flex;
}

.flex-direction-column {
  flex-direction: column;
}

/*
  SIZE
*/

.w-100 {
  width: 100%;
}

/* SPACING */
.pr-2 {
  padding-right: 12px;
}
.pl-2 {
  padding-left: 12px;
}
.pb-5 {
  padding-bottom: 30px;
}

.pb-4 {
  padding-bottom: 24px;
}

.pb-3 {
  padding-bottom: 18px;
}

.pb-2 {
  padding-bottom: 12px;
}

.pb-1 {
  padding-bottom: 6px;
}
.mb-2 {
  margin-bottom: 12px;
}

.mb-5 {
  margin-bottom: 30px;
}

/* ALIGNMENT */

.text-center {
  text-align: center;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

/* 
  TEXT
*/

.text-decoration-none {
  text-decoration: none;
}


/* 
  INPUT
*/

.custom-input {
  background: #9B88C8;
  border: 6px solid #7469CF;
  box-sizing: border-box;
  border-radius: 132px;
  width: 100%;
  height: 130px;
  text-align: center;
  font-size: 4.5rem;
  color: #434343;
}

.custom-input:active, .custom-input:focus-visible {
  border: 6px solid #7469CF;
}

:focus-visible {
  outline: none;
}

/* 
  MODAL
*/

.custom-paper .MuiPaper-root {
  background-color: transparent;
  box-shadow: unset;
}

@media screen and (min-width: 900px) {
  .modal-container-clothes{
    padding-top: 10%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    max-height: 500px;
  }
  .clothes-modal{
    background-color: #AAA7CB;;
    border: 6px solid #7469CF;
    border-radius: 20px;
    padding: 20px;
    width: 1000px;
    height: 100%;
  }
  .body-kid{
    height: 100% !important;
    width: 100% !important;
  }
};
.modal-container-clothes{
  padding-top: 2% !important;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  max-height: 500px;
}

.modal-container{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  max-height: 500px;
}


.child {
  background-color: #AAA7CB;;
  border: 6px solid #7469CF;
  border-radius: 20px;
  padding: 20px;
  width: 450px;
  height: 100%;

}

.modal-title{
  text-align: center;
}

.modal-inputs{
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.modal-input {
  margin-top: 20px;
  margin-bottom: 15px;
  background: #9B88C8;
  border: 6px solid #7469CF;
  box-sizing: border-box;
  border-radius: 60px;
  width: 50%;
  height: 50px;
  text-align: center;
  color: #434343;
  font-size: 1.5rem;
}

.modal-input:active, .modal-input:focus-visible {
  border: 6px solid #7469CF;
} 

/* NavBar */

.nav-bar{
  width: 100%;
  margin: 0;
  padding: 0;
}


.action-btn{
  border-radius: 100px !important;
  background-color: transparent !important;
  height: 75px;
  width: 75px;
  border: 3px solid #7469CF !important;
  
}

/* vetements */

.clothe{
  width: 25%;
}

@keyframes arrowAnimation {
  0% {
      transform: scale(5.0);
  }
  100% {
      transform: scale(6.0);
  }
}

.body-kid{
  height: 100%;
  width: 80%;
}


.clothes-modal{
  background-color: #AAA7CB;;
  border: 6px solid #7469CF;
  border-radius: 20px;
  padding: 20px;
}